*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
ul,li
{
    text-decoration: none;
    list-style: none;
}
 .navbar a
{
    text-decoration: none;
    color: white;
    margin-top: 5px;
    font-size: 20px;

}
.main
{
    width: 100%;
    align-items: center;
    justify-content: center;
   
}
.container
{
    width: 80%;
    height: 90%;
    /* background-color: red; */

}
.header
{
    width:100%;
    height: 150px;
    background-color: rgb(79, 9, 9);
    text-align: center;
    
    justify-content: center;
    align-items: center;

}
.header h1
{
    color: aliceblue;
    
}
.navbar
{
    width: 100%;
    background-color: rgba(85, 20, 20, 0.832);
    height: 35px;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
}
.content
{
    width: 100%;
}
.left
{
    width: 30%;
    float: left;
    background-color: red;
    height: 508px;
    justify-content: center;
}
.right
{
    width: 70%;
    float: right;
    background-color: beige;
    height: 508px;
    justify-content: center;

}
.footer
{
    width: 100%;
    background-color: blue;
    height: 30px;
    text-align: center;
    display: inline-block;
}
.footer h5{

    color: aliceblue;
    font-size: 20px;
}
.login
{
    width: 90%;
    height: 100px;
     margin-top: 15PX;
}
.login-heder{
    width: 100%;
    height: 30px;
    background-color: rgb(243, 159, 4);
    text-align: center;
    
}
h3
{
    color: rgb(243, 243, 245);
    font-size: 20px;
}
.login-content
{
    width: 100%;
    background-color: rgb(235, 251, 10);
    height: 200px;
     
}
.log-left
{
    width: 30%;
    float: left;
    text-align: center;
}
.registrion
{
    width: 80%;
    height: 400px;
    margin-top: 15px;
    text-align: center;

}
.reg-header
{
    width: 100%;
    height: 40px;
    background-color:rgb(243, 159, 4);
    border-radius: 1px;
}
/* home page css */
.home-right
{
    width: 70%;
    float: right;
    background-color: beige;
    height: 508px;
    justify-content: center;
    text-align: center;
    /* display: flex; */

}
.home-right h1
{
    margin-top: 200px;
}
/* change pas css */
.reg-header-ps
{
    width: 70%;
    height: 40px;
    background-color:rgb(243, 159, 4);
    border-radius: 1px;
    margin-left: 50px;
}
